*{
	margin: 0;
	padding: 0;
	font-family: WalkwayBold;
}

a{
	text-decoration: none;
}

/*Walkway Semi-Bold*/
@font-face {
    font-family: 'WalkwaySemiBold';
    src: url('fonts/WalkwaySemiBold.eot');
    src: url('fonts/WalkwaySemiBold.eot') format('embedded-opentype'),
         url('fonts/WalkwaySemiBold.woff2') format('woff2'),
         url('fonts/WalkwaySemiBold.woff') format('woff'),
         url('fonts/WalkwaySemiBold.ttf') format('truetype'),
         url('fonts/WalkwaySemiBold.svg#WalkwaySemiBold') format('svg');
}

/*Walkway Bold*/
@font-face {
    font-family: 'WalkwayBold';
    src: url('fonts/WalkwayBold.eot');
    src: url('fonts/WalkwayBold.eot') format('embedded-opentype'),
         url('fonts/WalkwayBold.woff2') format('woff2'),
         url('fonts/WalkwayBold.woff') format('woff'),
         url('fonts/WalkwayBold.ttf') format('truetype'),
         url('fonts/WalkwayBold.svg#WalkwayBold') format('svg');
}

main{
	margin: 200px auto 150px auto;
	max-width: 960px;
	padding: 0 auto;
	background-color: white;
    overflow: hidden;
}

main h1{
    font-size: 55px;
    text-align: center;
    margin-bottom: 70px;
}

main h2{
    margin-top: 20px;
    font-size: 35px;
}

main h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    display: block;
}

main p{
    font-size: 25px;
}

main #edit{
    font-size: 18px;
    background-color: #55ce30;
    color: white;

    margin-top: 30px;
    padding: 10px;

    display: inline-block;
}
main #edit:hover, main #edit:active{
    background-color: #6bdb46;
}

#change-password{
    display: inline-block;
    font-size: 18px;
    color: #55ce30;
}
#change-password:hover, #change-password:active{
    color: #6bdb46;
}

/*-------------admin stuff--------------*/
#admin-panel{
    overflow: hidden;
    margin: 40px -5px 0 -5px;
}
#admin-panel .admin-button-green, #admin-panel .admin-button-red, #admin-panel .admin-button-blue, #admin-panel .admin-button-orange{
    width: 180px;
    height: 180px;
    margin: 5px;

    float: left;

    text-align: center;
    color: white;
}
#admin-panel .admin-button-green{
    background-color: #c4e6b9;
}
#admin-panel .admin-button-red{
    background-color: #d87575;
}
#admin-panel .admin-button-blue{
    background-color: #7adbff;
}
#admin-panel .admin-button-orange{
    background-color: #ffc86b;
}
#admin-panel .admin-button-green:hover, #admin-panel .admin-button-green:active{
    background-color: #a7d398;
}
#admin-panel .admin-button-red:hover, #admin-panel .admin-button-red:active{
    background-color: #c95c5c;
}
#admin-panel .admin-button-blue:hover, #admin-panel .admin-button-blue:active{
    background-color: #62c9ef;
}
#admin-panel .admin-button-orange:hover, #admin-panel .admin-button-orange:active{
    background-color: #eab456;
}

.admin-wrapper{
    max-width: 100%;
    position: relative;
    overflow: hidden;
}