*{
	margin: 0;
	padding: 0;
	font-family: WalkwayBold;
}

a{
	text-decoration: none;
}

/*Walkway Semi-Bold*/
@font-face {
    font-family: 'WalkwaySemiBold';
    src: url('fonts/WalkwaySemiBold.eot');
    src: url('fonts/WalkwaySemiBold.eot') format('embedded-opentype'),
         url('fonts/WalkwaySemiBold.woff2') format('woff2'),
         url('fonts/WalkwaySemiBold.woff') format('woff'),
         url('fonts/WalkwaySemiBold.ttf') format('truetype'),
         url('fonts/WalkwaySemiBold.svg#WalkwaySemiBold') format('svg');
}

/*Walkway Bold*/
@font-face {
    font-family: 'WalkwayBold';
    src: url('fonts/WalkwayBold.eot');
    src: url('fonts/WalkwayBold.eot') format('embedded-opentype'),
         url('fonts/WalkwayBold.woff2') format('woff2'),
         url('fonts/WalkwayBold.woff') format('woff'),
         url('fonts/WalkwayBold.ttf') format('truetype'),
         url('fonts/WalkwayBold.svg#WalkwayBold') format('svg');
}

#header-image{
	width: 100%;
}

/*---------Register and log in-----------*/

#register-button, #login-button{
	font-size: 35px;
	display: inline-block;
	margin: 10px;

	float: left;
}
#register-button{
	background-color: #55ce30;
	color: white;
	padding: 10px 20px;
}
#register-button:hover, #register-button:active{
	background-color: #6bdb46;
}
#login-button{
	color: #55ce30;
	padding: 10px 0;
}
#login-button:hover, #login-button:active{
	color: #6bdb46;
}

/*-------------Logout button-------------*/

#logout-button{
	background-color: #55ce30;
	color: white;
	font-size: 35px;

	padding: 10px 20px;
	margin: 10px;

	display: inline-block;
	float: left;
}

/*-----------Searchbar and "bläddra vårt sortiment" button-----------*/

#search-and-wares{
	margin: 10px;
	position: absolute;
	left: 50%;
	display: inline-block;
	margin-left: -220px;
}
#searchbar{
	padding: 7px;
	font-size: 35px;
	border: solid 3px #d7d7d7;
}
#search-button{
	padding: 10px;
	font-size: 35px;
	background-color: #55ce30;
	color: white;
	border: none;

	margin-left: -10px;
}
#search-button:hover, #search-button:active{
	background-color: #6bdb46;
}

#browse-button{
	background-color: #cd3c3c;
	margin-top: 10px;
	padding: 10px;

	color: white;
	text-align: center;
	font-size: 35px;
}
#browse-button:hover, #browse-button:active{
	background-color: #e04545;
}


/*---------Basket och total sum---------*/

#basket{
	padding: 10px 20px;
	float: right;
	font-size: 35px;
	color: #55ce30;
}
#basket-icon{
	height: 57px;
}