*{
	margin: 0;
	padding: 0;
	font-family: WalkwayBold;
}

a{
	text-decoration: none;
}

/*Walkway Semi-Bold*/
@font-face {
    font-family: 'WalkwaySemiBold';
    src: url('fonts/WalkwaySemiBold.eot');
    src: url('fonts/WalkwaySemiBold.eot') format('embedded-opentype'),
         url('fonts/WalkwaySemiBold.woff2') format('woff2'),
         url('fonts/WalkwaySemiBold.woff') format('woff'),
         url('fonts/WalkwaySemiBold.ttf') format('truetype'),
         url('fonts/WalkwaySemiBold.svg#WalkwaySemiBold') format('svg');
}

/*Walkway Bold*/
@font-face {
    font-family: 'WalkwayBold';
    src: url('fonts/WalkwayBold.eot');
    src: url('fonts/WalkwayBold.eot') format('embedded-opentype'),
         url('fonts/WalkwayBold.woff2') format('woff2'),
         url('fonts/WalkwayBold.woff') format('woff'),
         url('fonts/WalkwayBold.ttf') format('truetype'),
         url('fonts/WalkwayBold.svg#WalkwayBold') format('svg');
}


/*----------product----------*/

main{
    margin: 200px auto 150px auto;
    width: 960px;
    padding: 0 auto;
    background-color: white;
    overflow: hidden;
}

#header{
    height: 200px;
    text-align: center;
    padding: 10px;
    border: solid 3px #ebebeb;
}
#product-image{
    height: 100%;
    max-width: 200px;
}

#header h1{
    display: inline-block;
    margin-left: 30px;

    position: relative;
    top: -100px;
}
#info p{
    margin-bottom: 10px;
    font-size: 20px;
}

#info{
    background-color: #ebebeb;
    padding: 40px;
}

#buy{
    background-color: #d7d7d7;
    padding: 5px;
    overflow: hidden;
}
#buy h1{
    font-size: 40px;
    color: #cd3c3c;

    float: right;
    margin-right: 30px;

    line-height: 55px;
}
#comparement-price{
    float: right;
    margin-right: 30px;

    line-height: 55px;
}
#buy form{
    float: right;
}
#buy form *{
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
}
#buy form p{
    background-color: #ebebeb;
    margin-left: -9px;
}

.text-input{
    padding: 7px;
    font-size: 35px;
    border: solid 3px #d7d7d7;

    width: 100px;
}

.buy-button{
    color: white;
    background-color: #55ce30;
    border: none;
}
.buy-button:hover, .buy-button:active{
    background-color: #6bdb46;
}

.product-delete-button, .product-edit-button{
    color: white;

    text-align: center;
    padding: 12px;
    height: 20px;
    width: 20px;

    display: inline-block;

    float: right;
}

.product-edit-button{
    background-color: #00bbff;
}
.product-edit-button:hover, .product-edit-button:active{
    background-color: #23c4ff;
}
.product-edit-button img{
    width: 15px;
    margin: 0;
    margin-right: -3px;
}

.product-delete-button{
    background-color: #cd3c3c;
}
.product-delete-button:hover, .product-delete-button:active{
    background-color: #e04545;
}