#sorting-list-wrapper{
	width: 200px;
	position: absolute;
	left: 10px;
	margin-top: 90px;
	margin-bottom: 10px;
	display: inline-block;
	z-index: 100;
}
#sorting-list-wrapper h1{
	font-weight: normal;
}

.category ul{
	display: none;
}
.category h2{
	padding: 20px;
	max-width: 80%;
	display: inline-block;
	color: white;
	font-weight: normal;
}
.category h2:hover, .category h2:active{
	text-decoration: underline;
}
.category{
	color: white;
	background-color: #83d46a;
	width: 290px;
	list-style-type: none;
	display: none;
	position: relative;
}
.category:hover, .category:active{
	background-color: #8fe273;
}
.category img{
	width: 30px;
	position: absolute;
	top: 8px;
	right: 0;
	padding: 10px;
}

#sorting-list-title{
	padding: 20px;
	color: white;
	width: 250px;
	list-style-type: none;
	background-color: #55ce30;
	position: relative;
}
#sorting-list-title:hover, #sorting-list-title:active{
	background-color: #6bdb46;
}
#sorting-list-title img{
	width: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 10px;
}

.sorting-list-product{
	padding: 20px;
	background-color: #ebebeb;
	border: solid 3px #d7d7d7;
	color: black;
	margin-top: -3px;
}
.sorting-list-product:hover, .sorting-list-product:active{
	background-color: #f7f7f7;
}
.sorting-list-product:hover + .category, .sorting-list-product:active + .category{
	background-color: pink;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.rotateOpen {
    -webkit-animation:open 0.1s linear 1;
    -moz-animation:open 0.1s linear 1;
    animation:open 0.1s linear 1;
}
@-moz-keyframes open { 100% { -moz-transform: rotate(-90deg); } }
@-webkit-keyframes open { 100% { -webkit-transform: rotate(-90deg); } }
@keyframes open { 100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } }

.rotateClose {
    -webkit-animation:close 0.1s linear 1;
    -moz-animation:close 0.1s linear 1;
    animation:close 0.1s linear 1;
}
@-moz-keyframes close { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes close { 100% { -webkit-transform: rotate(90deg); } }
@keyframes close { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }